{{ header }}
  <section class="container home_top_banner">
    <div class="row d-flex align-items-center justify-content-between">

        <div class="htb_left col-md-5 d-flex justify-content-center align-items-center">
          <div>
            Лучшее предложение
            этого месяца
         </div>
        </div>
        <div class="htb_right col-md-5 d-flex justify-content-center align-items-center">
          <div>
            <button type="button" class="btn btn-primary but-white but-rounded">Подробнее</button>
          </div>
        </div>

    </div>
  </section>
  <section class="container home_benefit">
    <div class="d-flex justify-content-center row">
      <div class="home_benefit-item home_benefit-item-1 col-md-5">
        Бесплатная доставка
      </div>
      <div class="home_benefit-item home_benefit-item-2 col-md-5">
        Онлайн поддержка
      </div>
      <div class="home_benefit-item home_benefit-item-3 col-md-5">
        Возвращаем деньги
      </div>
      <div class="home_benefit-item home_benefit-item-4 col-md-5">
        Постоянные скидки
      </div>
    </div>
  </section>
  <section class="container category_plate">
    <div class="row">
      <h3>Каталог</h3>
    </div>
    <div class="row d-flex justify-content-around">
      <div class="item">
        <div class="item-img">
            <img src="{{ theme_url }}/assets/images/demo/tov1.jpg" alt="Ноутбук Huawei MateBook">
            <div class="favorite"><button type="button" class="btn btn-primary but-item-grey"><img src="{{ theme_url }}/assets/images/ico-favorite.png" alt="В избраное"></button></div>
            <div class="compare"><button type="button" class="btn btn-primary but-item-grey"><img src="{{ theme_url }}/assets/images/ico-compare.png" alt="Сравнить"></button></div>
            <div class="status red">Акция</div>
        </div>
        <div class="item-title">
          Ноутбук Huawei MateBook
          D15 Boh - WAQ9R Space
          <span> 8574 ipl</span>
        </div>
        <div class="item-price">
            <div class="more-price">
             <div class="first-price">50 990 ₽</div> <div class="discount-price">-6 000</div><div class="item-what">?</div>
            </div>
            <div class="last-price">44 990 ₽</div>
          <div class="item-cart"><button type="button" class="btn btn-primary but-item-blue"><img src="{{ theme_url }}/assets/images/ico-cart-item.png" alt="Купить"></button></div>
        </div>
      </div>
      <div class="item">
        <div class="item-img">
            <img src="{{ theme_url }}/assets/images/demo/tov1.jpg" alt="Ноутбук Huawei MateBook">
            <div class="favorite"><button type="button" class="btn btn-primary but-item-grey"><img src="{{ theme_url }}/assets/images/ico-favorite.png" alt="В избраное"></button></div>
            <div class="compare"><button type="button" class="btn btn-primary but-item-grey"><img src="{{ theme_url }}/assets/images/ico-compare.png" alt="Сравнить"></button></div>
            <div class="status blue">Новинка</div>
        </div>
        <div class="item-title">
          Ноутбук Huawei MateBook
          D15 Boh - WAQ9R Space
        </div>
        <div class="item-price">
            <div class="last-price">88 990 ₽</div>
          <div class="item-cart"><button type="button" class="btn btn-primary but-item-blue"><img src="{{ theme_url }}/assets/images/ico-cart-item.png" alt="Купить"></button></div>
        </div>
      </div>
      <div class="item">
        <div class="item-img">
            <img src="{{ theme_url }}/assets/images/demo/tov1.jpg" alt="Ноутбук Huawei MateBook">
            <div class="favorite"><button type="button" class="btn btn-primary but-item-grey"><img src="{{ theme_url }}/assets/images/ico-favorite.png" alt="В избраное"></button></div>
            <div class="compare"><button type="button" class="btn btn-primary but-item-grey"><img src="{{ theme_url }}/assets/images/ico-compare.png" alt="Сравнить"></button></div>
            <div class="status red">Акция</div>
        </div>
        <div class="item-title">
          Ноутбук Huawei MateBook
          D15 Boh - WAQ9R Space
          <span> 8574 ipl</span>
        </div>
        <div class="item-price">
            <div class="more-price">
             <div class="first-price">3 990 ₽</div> <div class="discount-price">-1 000</div><div class="item-what">?</div>
            </div>
            <div class="last-price">2 990 ₽</div>
          <div class="item-cart"><button type="button" class="btn btn-primary but-item-blue"><img src="{{ theme_url }}/assets/images/ico-cart-item.png" alt="Купить"></button></div>
        </div>
      </div>
      <div class="item">
        <div class="item-img">
            <img src="{{ theme_url }}/assets/images/demo/tov1.jpg" alt="Ноутбук Huawei MateBook">
            <div class="favorite"><button type="button" class="btn btn-primary but-item-grey"><img src="{{ theme_url }}/assets/images/ico-favorite.png" alt="В избраное"></button></div>
            <div class="compare"><button type="button" class="btn btn-primary but-item-grey"><img src="{{ theme_url }}/assets/images/ico-compare.png" alt="Сравнить"></button></div>
        </div>
        <div class="item-title">
          Ноутбук Huawei MateBook
          D15 Boh - WAQ9R Space
          <span> 8574 ipl</span>
        </div>
        <div class="item-price">
            <div class="more-price">
             <div class="first-price">50 990 ₽</div> <div class="discount-price">-6 000</div><div class="item-what">?</div>
            </div>
            <div class="last-price">44 990 ₽</div>
          <div class="item-cart"><button type="button" class="btn btn-primary but-item-blue"><img src="{{ theme_url }}/assets/images/ico-cart-item.png" alt="Купить"></button></div>
        </div>
      </div>
      <div class="item">
        <div class="item-img">
            <img src="{{ theme_url }}/assets/images/demo/tov1.jpg" alt="Ноутбук Huawei MateBook">
            <div class="favorite"><button type="button" class="btn btn-primary but-item-grey"><img src="{{ theme_url }}/assets/images/ico-favorite.png" alt="В избраное"></button></div>
            <div class="compare"><button type="button" class="btn btn-primary but-item-grey"><img src="{{ theme_url }}/assets/images/ico-compare.png" alt="Сравнить"></button></div>
            <div class="status blue">Новинка</div>
        </div>
        <div class="item-title">
          Ноутбук Huawei MateBook
          D15 Boh - WAQ9R Space
        </div>
        <div class="item-price">
            <div class="last-price">88 990 ₽</div>
          <div class="item-cart"><button type="button" class="btn btn-primary but-item-blue"><img src="{{ theme_url }}/assets/images/ico-cart-item.png" alt="Купить"></button></div>
        </div>
      </div>
      <div class="item">
        <div class="item-img">
            <img src="{{ theme_url }}/assets/images/demo/tov1.jpg" alt="Ноутбук Huawei MateBook">
            <div class="favorite"><button type="button" class="btn btn-primary but-item-grey"><img src="{{ theme_url }}/assets/images/ico-favorite.png" alt="В избраное"></button></div>
            <div class="compare"><button type="button" class="btn btn-primary but-item-grey"><img src="{{ theme_url }}/assets/images/ico-compare.png" alt="Сравнить"></button></div>
            <div class="status red">Акция</div>
        </div>
        <div class="item-title">
          Ноутбук Huawei MateBook
          D15 Boh - WAQ9R Space
          <span> 8574 ipl</span>
        </div>
        <div class="item-price">
            <div class="more-price">
             <div class="first-price">3 990 ₽</div> <div class="discount-price">-1 000</div><div class="item-what">?</div>
            </div>
            <div class="last-price">2 990 ₽</div>
          <div class="item-cart"><button type="button" class="btn btn-primary but-item-blue"><img src="{{ theme_url }}/assets/images/ico-cart-item.png" alt="Купить"></button></div>
        </div>
      </div>
      <div class="item">
        <div class="item-img">
            <img src="{{ theme_url }}/assets/images/demo/tov1.jpg" alt="Ноутбук Huawei MateBook">
            <div class="favorite"><button type="button" class="btn btn-primary but-item-grey"><img src="{{ theme_url }}/assets/images/ico-favorite.png" alt="В избраное"></button></div>
            <div class="compare"><button type="button" class="btn btn-primary but-item-grey"><img src="{{ theme_url }}/assets/images/ico-compare.png" alt="Сравнить"></button></div>
        </div>
        <div class="item-title">
          Ноутбук Huawei MateBook
          D15 Boh - WAQ9R Space
          <span> 8574 ipl</span>
        </div>
        <div class="item-price">
            <div class="more-price">
             <div class="first-price">50 990 ₽</div> <div class="discount-price">-6 000</div><div class="item-what">?</div>
            </div>
            <div class="last-price">44 990 ₽</div>
          <div class="item-cart"><button type="button" class="btn btn-primary but-item-blue"><img src="{{ theme_url }}/assets/images/ico-cart-item.png" alt="Купить"></button></div>
        </div>
      </div>
      <div class="item">
        <div class="item-img">
            <img src="{{ theme_url }}/assets/images/demo/tov1.jpg" alt="Ноутбук Huawei MateBook">
            <div class="favorite"><button type="button" class="btn btn-primary but-item-grey"><img src="{{ theme_url }}/assets/images/ico-favorite.png" alt="В избраное"></button></div>
            <div class="compare"><button type="button" class="btn btn-primary but-item-grey"><img src="{{ theme_url }}/assets/images/ico-compare.png" alt="Сравнить"></button></div>
            <div class="status red">Акция</div>
        </div>
        <div class="item-title">
          Ноутбук Huawei MateBook
          D15 Boh - WAQ9R Space
          <span> 8574 ipl</span>
        </div>
        <div class="item-price">
            <div class="more-price">
             <div class="first-price">3 990 ₽</div> <div class="discount-price">-1 000</div><div class="item-what">?</div>
            </div>
            <div class="last-price">2 990 ₽</div>
          <div class="item-cart"><button type="button" class="btn btn-primary but-item-blue"><img src="{{ theme_url }}/assets/images/ico-cart-item.png" alt="Купить"></button></div>
        </div>
      </div>
    </div>
  </section>
  <section class="container home_big_proposal">
      <div class="d-flex justify-content-between">
        <div class="home_big_proposal_left home_big_proposal_item">
          <div>
            Смарт-часы для
            самых активных
            <a href="#">Подробнее</a>
          </div>
        </div>
        <div class="home_big_proposal_right home_big_proposal_item">
          <div>
            Виртуальная
            реальность
            <a href="#">Подробнее</a>
          </div>
        </div>
      </div>
  </section>
  <section class="container category_plate">
    <div class="row">
      <h3>Успейте купить</h3>
    </div>
    <div class="row d-flex justify-content-around">
      <div class="item">
        <div class="item-img">
            <img src="{{ theme_url }}/assets/images/demo/tov1.jpg" alt="Ноутбук Huawei MateBook">
            <div class="favorite"><button type="button" class="btn btn-primary but-item-grey"><img src="{{ theme_url }}/assets/images/ico-favorite.png" alt="В избраное"></button></div>
            <div class="compare"><button type="button" class="btn btn-primary but-item-grey"><img src="{{ theme_url }}/assets/images/ico-compare.png" alt="Сравнить"></button></div>
            <div class="status red">Акция</div>
        </div>
        <div class="item-title">
          Ноутбук Huawei MateBook
          D15 Boh - WAQ9R Space
          <span> 8574 ipl</span>
        </div>
        <div class="item-price">
            <div class="more-price">
             <div class="first-price">50 990 ₽</div> <div class="discount-price">-6 000</div><div class="item-what">?</div>
            </div>
            <div class="last-price">44 990 ₽</div>
          <div class="item-cart"><button type="button" class="btn btn-primary but-item-blue"><img src="{{ theme_url }}/assets/images/ico-cart-item.png" alt="Купить"></button></div>
        </div>
      </div>
      <div class="item">
        <div class="item-img">
            <img src="{{ theme_url }}/assets/images/demo/tov1.jpg" alt="Ноутбук Huawei MateBook">
            <div class="favorite"><button type="button" class="btn btn-primary but-item-grey"><img src="{{ theme_url }}/assets/images/ico-favorite.png" alt="В избраное"></button></div>
            <div class="compare"><button type="button" class="btn btn-primary but-item-grey"><img src="{{ theme_url }}/assets/images/ico-compare.png" alt="Сравнить"></button></div>
            <div class="status blue">Новинка</div>
        </div>
        <div class="item-title">
          Ноутбук Huawei MateBook
          D15 Boh - WAQ9R Space
        </div>
        <div class="item-price">
            <div class="last-price">88 990 ₽</div>
          <div class="item-cart"><button type="button" class="btn btn-primary but-item-blue"><img src="{{ theme_url }}/assets/images/ico-cart-item.png" alt="Купить"></button></div>
        </div>
      </div>
      <div class="item">
        <div class="item-img">
            <img src="{{ theme_url }}/assets/images/demo/tov1.jpg" alt="Ноутбук Huawei MateBook">
            <div class="favorite"><button type="button" class="btn btn-primary but-item-grey"><img src="{{ theme_url }}/assets/images/ico-favorite.png" alt="В избраное"></button></div>
            <div class="compare"><button type="button" class="btn btn-primary but-item-grey"><img src="{{ theme_url }}/assets/images/ico-compare.png" alt="Сравнить"></button></div>
        </div>
        <div class="item-title">
          Ноутбук Huawei MateBook
          D15 Boh - WAQ9R Space
          <span> 8574 ipl</span>
        </div>
        <div class="item-price">
            <div class="more-price">
             <div class="first-price">50 990 ₽</div> <div class="discount-price">-6 000</div><div class="item-what">?</div>
            </div>
            <div class="last-price">44 990 ₽</div>
          <div class="item-cart"><button type="button" class="btn btn-primary but-item-blue"><img src="{{ theme_url }}/assets/images/ico-cart-item.png" alt="Купить"></button></div>
        </div>
      </div>
      <div class="item">
        <div class="item-img">
            <img src="{{ theme_url }}/assets/images/demo/tov1.jpg" alt="Ноутбук Huawei MateBook">
            <div class="favorite"><button type="button" class="btn btn-primary but-item-grey"><img src="{{ theme_url }}/assets/images/ico-favorite.png" alt="В избраное"></button></div>
            <div class="compare"><button type="button" class="btn btn-primary but-item-grey"><img src="{{ theme_url }}/assets/images/ico-compare.png" alt="Сравнить"></button></div>
            <div class="status red">Акция</div>
        </div>
        <div class="item-title">
          Ноутбук Huawei MateBook
          D15 Boh - WAQ9R Space
          <span> 8574 ipl</span>
        </div>
        <div class="item-price">
            <div class="more-price">
             <div class="first-price">3 990 ₽</div> <div class="discount-price">-1 000</div><div class="item-what">?</div>
            </div>
            <div class="last-price">2 990 ₽</div>
          <div class="item-cart"><button type="button" class="btn btn-primary but-item-blue"><img src="{{ theme_url }}/assets/images/ico-cart-item.png" alt="Купить"></button></div>
        </div>
      </div>
    </div>
  </section>
  <section class="container category_big_ico">
    <div class="row">
      <div class="col-md-6 category_big_ico1">
        <a class="cat_name" href="#">Аксессуары</a>

        <a href="#">Смарт часы</a>
        <a href="#">Фитнес браслеты</a>

        <a class="more" href="#">Смотреть больше</a>
      </div>
      <div class="col-md-6 category_big_ico2">
        <a class="cat_name" href="#">Игровые приставки</a>

        <a href="#">Dendi</a>
        <a href="#">GameBox</a>
        <a href="#">Nintendo</a>
        <a href="#">PlayStation</a>

        <a class="more" href="#">Смотреть больше</a>
        </div>
        <div class="col-md-6 category_big_ico3">
          <a class="cat_name" href="#">Телевизоры</a>
          <a href="#">Аксессуары</a>
          <a href="#">Аудио и DJ</a>
          <a href="#">Домашний кинотеатр</a>

          <a class="more" href="#">Смотреть больше</a>
        </div>
        <div class="col-md-6 category_big_ico4">
          <a class="cat_name" href="#">Электроника</a>
          <a href="#">Аксессуары для дома</a>
          <a href="#">Климатическая техника</a>
          <a href="#">Пылесосы</a>
          <a href="#">Стиральные машины</a>

          <a class="more" href="#">Смотреть больше</a>
        </div>
   </div>
  </section>
  <section class="container home_about">
    <h3>Магазин цифровой техники “ТехноБаза”</h3>
    <p>Интернет магазин цифровой техники начал работу в 2008 году как одно из подразделений компании. Более чем десятилетний опыт позволил нам создать тесные партнерские отношения с рядом производителей, понять потребности и пожелания наших клиентов, развить собственную инфраструктуру для быстрой доставки и качественного сервисного обслуживания.</p>
    <button type="button" class="btn btn-primary but-rounded">Показать больше</button>
  </section>
  <section class="container home_ban_bot">
    <div>
      Начни заботиться<br>
      о доме вместе с<br>
      Bosch

      <a href="#">Подробнее</a>
    </div>
  </section>
{{ footer }}